@font-face {
    font-family: 'Imprint';
     /* Браузер сначала попробует найти шрифт локально */
     src:   local("Imprint MT Shadow"),
    /* Если не получилось, загрузит с сервера */
    url('../fonts/Imprint.ttf') format('truetype'),
    url('../fonts/ImprintMT-Shadow.woff2') format('woff2'),
    url('../fonts/ImprintMT-Shadow.woff') format('woff');
}

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); // импортируем из Google Fonts
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  //импорт шрифтов закончен

    // основные настройки
html, body{
    height: 100%;
    width: 100%;
    background-image: url(../../images/login-background.png);
    background-size: cover;
}
ul li {
    list-style: none;
}
li {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
} 
* {
    padding: 0;
    margin: 0;
} 
h1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 55px;
    text-decoration-line: underline;
    color: #333333;
  }
h2 {
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #19150C;
  }
p{
    margin-bottom: 40px;
    max-width: 606px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #272624;
}
  
  .conteiner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  
  header {
    width: 100%;
    height: 90px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  // Навбар
  .menu{
    background: #272624;
  }
  .wrapper {
    background-image: url(../../images/header-pattern.png);
    list-style: none;
    display: flex;    
  }
  .menu-list-slash{
    margin:  31px 16px 0px 18.5px;
    color: #fff;
  }
  .menu-list {
   margin-right: 90px;
   margin-top: 30px;
  }
  
  .menu-link:hover {
    -webkit-text-decoration: underline #fff solid;
    text-decoration: underline #fff solid;
  }
  
  .menu-list-accaunt, .menu-list-login{
    margin-top: 33px;
  }

  .menu-list-logo {
    margin: 14px 206px 0 60px;
  }
  
  .menu-link {
    color: #fff;
  }
//   Хедер закончен



// основной блок

.contacts-main{
    display: flex;
    margin-left: 167px;
    margin-top: 80px;
    margin: 80px 0 0 160px;
}
.contacts-heading{
    margin-bottom: 80px;
}
.contacts-telephone{
    margin-bottom: 10px;
    cursor: pointer;
}

.contacts-map{
    margin-left: 250px;
    margin-top: 64px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}