@font-face {
	font-family: 'Imprint';
	src: local("Imprint MT Shadow"),
    url('../fonts/Imprint.ttf') format('truetype'),
    url('../fonts/ImprintMT-Shadow.woff2') format('woff2'),
    url('../fonts/ImprintMT-Shadow.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); // импортируем из Google Fonts
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  //импорт шрифтов закончен
    // основные настройки
html, body {
	height: 100%;
	width: 100%;
}
ul {
	li {
		list-style: none;
	}
}
li {
	font-family: "Inter";
	font-weight: 700;
	font-size: 25px;
}
* {
	padding: 0;
	margin: 0;
}
h1 {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 45px;
}
.conteiner {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 90px;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}
a {
	text-decoration: none;
}
.menu {
	background: #272624;
}
.wrapper {
	background-image: url(../../images/header-pattern.png);
	list-style: none;
	display: flex;
}
.menu-list-slash {
	margin: 31px 16px 0px 18.5px;
	color: #fff;
}
.menu-list {
	margin-right: 90px;
	margin-top: 30px;
}
.menu-link {
	color: #fff;
	&:hover {
		-webkit-text-decoration: underline #fff solid;
		text-decoration: underline #fff solid;
	}
}
.menu-list-accaunt, .menu-list-login {
	margin-top: 33px;
}
.menu-list-logo {
	margin: 14px 206px 0 60px;
}
body {
	background-color: #EBEBE7;
}
.container {
	height: 100%;
	background-image: url(../../images/login-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.registration-form-flex {
	display: flex;
}
.registration-heading {
	margin-bottom: 30px;
	margin-top: 80px;
	text-align: center;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 55px;
	line-height: 45px;
	text-decoration-line: underline;
	color: #333333;
}
.registration-page {
	text-align: center;
	margin-bottom: 20px;
}
.registration-form {
	margin-left: 595px;
	input[type="date"] {
		margin-left: 25px;
		width: 320px;
		margin-bottom: 20px;
		padding: 21px 20px 17px 25px;
		outline: none;
		border: 1px solid #F3F3F3;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		font-size: 16px;
	}
	input[type="radio"] {
		display: none;
	}
}
.registration-form input[type="text"], .registration-form input[type="password"],.registration-form input[type="phone"] {
	width: 340px;
	margin-bottom: 20px;
	padding: 25px 0 20px 25px;
	outline: none;
	border: 1px solid #F3F3F3;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-left: 25px;
}
.registration-radios {
	display: flex;
	margin-top: 25px;
	margin-left: 40px;
}
label {
	&.radio {
		margin-top: -2px;
		margin-left: 10px;
		display: inline-block;
		position: relative;
		padding-left: 25px;
		margin-right: 15px;
		cursor: pointer;
		font-size: 16px;
		line-height: 1.5em;
		&:before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			border-radius: 50%;
			border: 2px solid #000;
			background-color: #fff;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
	&.checkbox {
		margin-left: 150px;
		display: inline-block;
		position: relative;
		padding-left: 25px;
		margin-right: 15px;
		cursor: pointer;
		font-size: 16px;
		line-height: 1.5em;
		&:before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			border: 2px solid #000;
			position: absolute;
			left: 0;
			top: 0px;
			padding: 2px 2px 0 2px;
		}
	}
}
input[type="radio"]:checked {
	& + label {
		&.radio {
			&:before {
				background-color: #000;
			}
		}
	}
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]:checked {
	& + label {
		&.checkbox {
			&:before {
				content: "\2713";
				font-size: 14px;
				line-height: 14px;
				color: #000;
				text-align: center;
				background-color: #fff;
			}
		}
	}
}
.registration-form-chackbox {
	display: flex;
	margin-top: 10px;
}
.registration-basic-button {
	margin-left: 290px;
	margin-top: 10px;
	width: 220px;
	background-color: #CC9966;
	padding: 9px 20px 10px 25px;
	color: #fff;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	border-radius: 20px;
	border: none;
}
.registration-additional-buttons {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 12px;
	line-height: 40px;
	border: none;
	background-color: red;
}
.RegButton {
	margin-top: 20px;
	margin-left: 330px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #373A3C;
}
.account-input-address {
	width: 540px;
	margin-bottom: 20px;
	padding: 25px 0 20px 25px;
	outline: none;
	border: 1px solid #F3F3F3;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-left: 25px;
}

#emailsub{
	text-align: center;
	margin-bottom: 40px;
	font-size: 20px;
}
#emailfirst{
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
}
.emailsub-button{
	background-color: #CC9966;
	color: #ffffff;
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin-top: 20px;
	font-size: 18px;
	font-family: "Inter";
	font-weight: 600;
}
.emailsub-button:hover{
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

// Выпадающая история заказов
.history-block{
	max-width: 1000px;
	margin-left: 100px;
}

// Стрелка
.arrow-2 {
    cursor: pointer;
    height: 30px;
    width: 20px;
    position: relative;
    margin: 20px;
	margin-left: 40px;
	margin-top: 25px;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: grey;
    height: 5px;
    left: -10px;
    position: absolute;
    top: 6px;
    width: 18px;
}
.arrow-2-top {
    top: 8px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-2-top::after, 
.arrow-2-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}
 //
#drop-downPanel-history{

}
.basket-card{
	background-color: #ffffff;
	border-radius: 20px;
	padding: 30px;
	display: flex;
	margin-bottom: 20px;
	min-width: 410px;
}
.basket-card-products{
	display: none;
	background-color: #ffffff;
	border-radius: 20px;
	padding-top: 20px;
	overflow: scroll;
	max-width: 1500px;
	max-height: 120px;
	margin-right: 20px;
	padding-bottom: 5px;
}
.basket-card-products::-webkit-scrollbar { width: 0; } // скрываем полосу прокрутки
.basket-card-product{
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	border-radius: 10px;
	margin-left: 10px;
}
  .product-name, .product-price, .product-quantity{
	font-size: 14px; /* Размер шрифта */
	color: #333; /* Цвет текста */
	padding: 0 5px;
  }
.sidebar-block{
    cursor: pointer;
    display: flex;
    border-bottom: 1px #BFBFBF solid;
    max-width: 340px;
    margin-top: 40px;
    margin-bottom: 30px;
	padding-bottom: 15px;
}
.sidebar-vector{
    width: 18px;
    height: 9px;
    margin-top: 7px;
}
.sidebar-heading{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #232323;
    text-transform: uppercase;
    width: 380px;
}

#drop-downPanel-history li, #drop-downPanel-size li, #drop-downPanel-filling li{ // Появляющиеся блоки
    display: flex;
}

#drop-downPanel-history, #drop-downPanel-size, #drop-downPanel-filling{
    display: none;   
}
// текст блока
.menu-name, .menu-page{
	font-size: 14px;
	color: grey;
	margin-left: 5px;
	margin-top: 10px;
}