@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Imprint";
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Imprint MT Shadow"), url("../fonts/Imprint.ttf") format("truetype"), url("../fonts/ImprintMT-Shadow.woff2") format("woff2"), url("../fonts/ImprintMT-Shadow.woff") format("woff");
}
ul li {
  list-style: none;
}

li {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 40px;
}

.conteiner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 82px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.menu {
  background: #272624;
}

.wrapper {
  background-image: url(../../images/header-pattern.png);
  list-style: none;
  display: flex;
}

.menu-list-slash {
  margin: 31px 16px 0px 18.5px;
  color: #fff;
}

.menu-list {
  margin-right: 90px;
  margin-top: 30px;
}

.menu-link:hover {
  -webkit-text-decoration: underline #fff solid;
  text-decoration: underline #fff solid;
}

.menu-list-accaunt, .menu-list-login {
  margin-top: 33px;
}

.menu-list-logo {
  margin: 14px 206px 0 60px;
}

.menu-link {
  color: #fff;
}

.main-block {
  background-color: #EBEBE7;
  min-height: 870px;
  height: 100%;
}

.admin-heading {
  text-decoration: underline;
  margin-left: 600px;
  margin-top: 50px;
}

.exit-button {
  padding-top: 50px;
  padding-left: 300px;
  font-family: Inter;
  font-size: 20px;
  text-decoration: underline;
}
.exit-button-span{
  text-decoration: none;
}

.exit-button > a {
  color: #272624;
}

.sidebar-input {
  width: 360px;
  padding: 23px 20px 23px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  font-size: 15px;
  margin-left: 700px;
}

.inputs-flex {
  display: flex;
  margin-top: 20px;
}

.inputs-flex > input {
  margin-left: 20px;
}

.inputs-flex > input:nth-child(1) {
  margin-left: 600px;
}

.sidebar-input-submit {
  cursor: pointer;
  width: 100px;
  margin: 24px 0 30px 820px;
  outline: none;
  border: none;
  background-color: #CC9966;
  padding: 2px 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  border-radius: 10px;
}
.sidebar-input[type=number] {
  padding-right: 20px;
  width: 180px;
}
.description-area {
  min-height: 50px;
  width: 350px;
  margin-top: 20px;
  padding: 25px 25px 0px 25px;
  outline: none;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  resize: vertical;
  margin-left: 710px;
}

.recipe-area {
  min-height: 50px;
  margin-top: 20px;
  width: 350px;
  margin-top: 20px;
  padding: 25px 25px 0px 25px;
  outline: none;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  resize: vertical;
  margin-left: 710px;
}/*# sourceMappingURL=good_add.css.map */


//
.error-message{
   text-align: center;
   margin-left: -90px;
}



// стили выпадающих меню
.request__input-block{
  display: flex;
  margin-left: 550px;
}
.request__input {
  margin-left: 100px;
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.request__input option {
  font-size: 14px;
}
.input-select-label{
  display: block;
   margin-left: 100px;
  margin-bottom: 5px;
  margin-top: 20px;
}

// стили выпадающего меню 
.sidebar{
  margin: 47px;
}
.sidebar-block{
  margin-left: 750px;
  cursor: pointer;
  display: flex;
  border-bottom: 1px #BFBFBF solid;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.sidebar-vector{
  width: 18px;
  height: 9px;
  margin-top: 5px;
}
.sidebar-heading{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #232323;
  text-transform: uppercase;
  width: 270px;
}
.menu-checkbox{
  margin-right: 20px;
  padding: 5px;
}
#drop-downPanel-type li, #drop-downPanel-size li, #drop-downPanel-filling li{ // Появляющиеся блоки
  display: flex;
  margin-left: 800px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232323;
  width: 200px;
  margin-top: 10px;
}
#drop-downPanel-type, #drop-downPanel-size, #drop-downPanel-filling{
  display: none;   
}
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container label {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 13px;
  width: 13px;
  background-color: #888;
  border-radius: 50%;
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  display: block;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container label {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 4px;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  display: block;
  pointer-events: none;
}

.checkbox-container input:checked ~ label {
  background-color: #af6f09;
}

.checkbox-container input:checked ~ label:after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
